.vse {
    width: 100%;

}
.vse2 {
     width: 600px;
    margin: auto;
    text-align: center;
}
.cilk { 
    text-decoration: none;
    color: black;
    border: 2px solid black;
    width: 250px;
    margin: auto;
}
.links{
    display: flex;
    align-items: center;}
.glavnai {
        margin-left: 50px;
        color: white;
        text-decoration: none;}
.exit{
            flex-grow: 1;
            text-align: end;}
.header{
      background-color: rgb(112, 112, 112);
         color: white;
    padding: 15px 20px;
       display: flex;
   align-items: center;
 
            }